<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangcheng.datasource.notaop.mapper.ext.UsrDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.tangcheng.datasource.notaop.model.UsrDepartment" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="department_no" property="departmentNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, department_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cms_usrdepartment
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cms_usrdepartment
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.tangcheng.datasource.notaop.model.UsrDepartment" >
    insert into cms_usrdepartment (id, name, department_no
      )
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{departmentNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tangcheng.datasource.notaop.model.UsrDepartment" >
    insert into cms_usrdepartment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="departmentNo != null" >
        department_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="departmentNo != null" >
        #{departmentNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tangcheng.datasource.notaop.model.UsrDepartment" >
    update cms_usrdepartment
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="departmentNo != null" >
        department_no = #{departmentNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tangcheng.datasource.notaop.model.UsrDepartment" >
    update cms_usrdepartment
    set name = #{name,jdbcType=VARCHAR},
      department_no = #{departmentNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>